#home {
	width: 100%;
	height: calc(125vh - 30px);
	background: #0e174e;
	background-size: cover;
	position: relative;
}

#home h1 {
	margin: 0 0 10px 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	text-transform: uppercase;
	color: #fff;
}

#home h2 {
	color: #eee;
	margin-bottom: 30px;
	font-size: 90px;
}

#home p {
	font-size: 35px;
	color: #4fd886;
}

@media (min-width: 1024px) {
	#home {
		background-attachment: fixed;
	}
	#home .textScramble {
		display: flex;
		position: fixed;
		font-size: 50px;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 768px) {
	#home {
		text-align: center;
	}
	#home .container {
		padding-top: 40px;
	}
	#home h1 {
		font-size: 28px;
		line-height: 36px;
	}
	#home h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	#home .textScramble {
		display: flex;
		font-size: 20px;
		justify-content: center;
		align-items: center;
	}
}
